{{#each listings}}

<article>
    <img src="{{this.image}}" alt="">
        <div class="name">
        <h3> {{this.name}} </h3> 
        <p class="category"> {{this.category}}</p>
        <p class="price"> {{this.price}}</p>
        <p class="review"> {{this.review}} </p>
        <p class="host"> {{this.host}} </p>
    </div>
</article>

{{/each}}