<section class="listings">

    <div class="listing_search">
        <button class="btn pick-up">Toronto, CA</button>
        <button class="btn date">18 - 25 OCT</button>
        <button class="btn search-box">SEARCH</button>
    </div>

    <div class="wrapper">
        {{#each room}}
        <div class="item">
            <img src="{{this.image}}" alt="rental place image" class="rental_img">
            <h3 class="rental_name"> {{this.name}} </h3> 
            <p class="category"> {{this.category}}</p>
            <p class="price"> ${{this.price}} CAD/night</p>
            <p class="review"> ⭐️{{this.review}} </p>
            <p class="host"> {{this.host}} host</p>
        </div>
        {{/each}}
    </div>
</section>

