{{#each listings}}

<div class="wrapper">
    <div class="item">
        <img src="{{this.image}}" alt="rental place image">
        <h3 class="rental_name"> {{this.name}} </h3> 
        <p class="category"> {{this.category}}</p>
        <p class="price"> ${{this.price}} CAD/night</p>
        <p class="review"> ⭐️{{this.review}} </p>
        <p class="host"> {{this.host}} host</p>
    </div>
</div>

{{/each}}